
<h1 class="h1Home">Trusted by </h1>
<p class="lead" align="center">
    a diverse range of clients to meet their software needs. 
    <br/>
    We are here to help. <b><a id="freequote" href="~/Home/Contact">Contact us </a> today!</b>
    <br />
</p>
<div class="row">
    <div class="col-md-3">
        <ul>
            <li>
                <img id="BHPD" src="~/images/BHPD.png" alt="City Of Beverly Hills" class="img-responsive" />
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img id="BHLogo" src="~/images/BHlogo.png" alt="City Of Beverly Hills" class="img-responsive" />
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img id="BJSim" src="~/images/bjsim Logo.jpg" alt="BJSimulator" class="img-responsive" />
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img src="~/images/FredLeeds.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img src="~/images/cprnowlogo3.png" alt="CPR-Now!" class="img-responsive center-block" />
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img src="~/images/Regency.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img src="~/images/intma.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <img src="~/images/receiver.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>

        </ul>
    </div>
</div>
<h1 class="h1Home">Visual Examples </h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/cprnowphoto.png" alt="ASP.NET" class="img-responsive" />

        </div>
        <div class="item">
            <img src="~/images/bjsim.png" alt="Visual Studio" class="img-responsive" />

        </div>
        <div class="item">
            <img src="~/images/receiverexample.png" alt="Visual Studio" class="img-responsive" />

        </div>
        <div class="item">
            <img src="~/images/bethexample.png" alt="Visual Studio" class="img-responsive" />

        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>