@{
    ViewData["Title"] = "Contact";
}
<div>
    <h1 class="h1Home"> Contact </h1>
    <p class="lead" align="center">
        Fill out the form below &amp; a team member will respond, usually within the same day.
        <br />
        If its urgent, please specify &amp; <b> input a contact phone number!</b>
    </p>

</div>
<form method="post" action="Contact">
    <div class="container">
        <span class="form-control-static">
            Name:
        </span>
        <input class="form-control" type="text" name="subject" />
        <br />
        <span class="form-control-static">
            Message:
        </span>
        <input class="form-control" type="text" name="message" />
        <br />
        <input class="btn btn-primary" type="submit" value="Send"/>
      
    </div>




</form>



