@{
    ViewData["Title"] = "Home";
}
<div id="mission">
    <h1 class="h1Home"> Our Mission </h1>
    <p class="lead" align="center">
        is to provide the <b> highest rated software</b> to our <a href="~/Home/About">clients</a> as quickly as possible.
        <br />
        We strive for customer satisfaction.<b> Get a <a id="freequote" href="~/Home/Contact">free quote</a> today!</b>
    </p>

</div>




<h1 class="h1Home">Services </h1>
<div class="row">
    <div class="col-md-3">
        <h4 class="h4Home"><u>Cross-Platform Development</u></h4>
        <ul>
            <li>
                <img id="FrontPic1" src="~/images/trythisone.png" alt="Across All Platforms" class="img-responsive center-block" />
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="h4Home"><u>Responsive UI Design</u></h4>
        <ul>
            <li>
                <img id="FrontPic2" src="~/images/WebDev2.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="h4Home"> <u>Custom Hardware</u></h4>
        <ul>
            <li>
                <img id="FrontPic3" src="~/images/Robotics.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>

        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="h4Home"><u>Support &amp; Hosting</u></h4>
        <ul>
            <li>
                <img id="FrontPic4" src="~/images/HostingIcon.png" alt="ASP.NET" class="img-responsive center-block" />
            </li>
        </ul>
    </div>
</div>
<img align="middle" id="StackImg" src="~/images/TechnologyStack.png" alt="Coding Languages" class="img-responsive center-block" />

<br />

<h1 class="h1Home"> Quality Code </h1>
<p class="lead" align="center">
    is <b>Fast, Scalable, Secure, &amp; easy to modify for future needs.</b> We know how your customers value their privacy, we use advanced security measures to ensure the safety of your software data, as methods of hacking &amp; malicious online activites advance each year.
    <br />
</p>

<h1 class="h1Home"> Communication </h1>
<p class="lead" align="center">
    is the key to success in any project. <b> We send constant updates weekly</b> to let you know how the project is going &amp; which stage your project is at. This includes sending working prototypes &amp; pictures/videos of design features. We understand your software needs may change during the development process, or you may come up with a new idea for a feature midway through the development process. We are <b> always open to changes </b>, making our development process flexible, affordable, and comfortable knowing your getting the <b> exact product you need. </b>
    <br />
    <br />

</p>

<div>
    <h1 class="h1Home">Development Cycle</h1>
    <div class="row">
        <div class="col-md-3">

            <ul>
                <li>
                    <img id="s1" src="~/images/PenPaper.png" alt="Across All Platforms" class="img-responsive center-block" />
                </li>
            </ul>
            <h4 class="h4Home"><u>Design</u></h4>
            <p align="center">
                We start by planning how to achieve your software needs. This includes Software Design, UI Design &amp; Color Scheming.
            </p>
        </div>
        <div class="col-md-3">

            <ul>
                <li>
                    <img id="s2" src="~/images/build.jpg" alt="ASP.NET" class="img-responsive center-block" />
                </li>

            </ul>
            <h4 class="h4Home"><u>Build</u></h4>
            <p align="center">
                We then create your software product, building the interface &amp; functionality. We deliver prototypes at the begining of this stage, &amp; nearly finished products by the end.
            </p>
        </div>
        <div class="col-md-3">

            <ul>
                <li>
                    <img id="s3" src="~/images/debug.png" alt="ASP.NET" class="img-responsive center-block" />
                </li>

            </ul>
            <h4 class="h4Home"> <u>Quality Assurance</u></h4>
            <p align="center">
                We do vigorous live &amp; automated testing to perfect the product. We can walk you through Alpha &amp; Beta testing your app within your company &amp; the public.
            </p>
        </div>
        <div class="col-md-3">

            <ul>
                <li>
                    <img id="s4" src="~/images/delivery.png" alt="ASP.NET" class="img-responsive center-block" />
                </li>
            </ul>
            <h4 class="h4Home"><u>Product Delivery</u></h4>
            <p align="center">
                Once your 100% satisfied, we deliver the final product.
            </p>
        </div>
    </div>
    <br />
    <p class="lead" align="center">
    Whatever your software needs may be, we are here to help. <b><a id="freequote" href="~/Home/Contact">Contact us </a> today!</b>
    </p>



</div>

