<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8fa6100d-4b9a-4e6f-a55e-49833a5e3a90/resourceGroups/WebResources/providers/Microsoft.Web/sites/SmartAppSoftware</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://smartappsoftware.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>smartappsoftware.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartAppSoftware</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SmartAppSoftware</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>